.site-hero {
  background-image: url(../img/Bitmap.jpg);
  background-color: black;
  left: calc(-79px);
  background-repeat: no-repeat;
  background-size: cover  ;
  padding: 117px 702px 116px 85px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.hero__tittle {
  color: #fefcf7;
  font-family: Fraunces 9pt;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
}

.hero__text {
  margin-top: 32px;
  margin-bottom: 56px;
  width: 445px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.hero__btn {
}

.site-btn {
  padding: 15px 31px 16px 31px;
  width: 217px;
  color: #fefcf7;
  text-align: center;
  font-size: 18px;
  line-height: 25px; /* 138.889% */
  border-radius: 6px;
  background: #0e8784;
  border: none;
}

.site-btn:hover {
  border-radius: 6px;
  background: #66d2cf;
  cursor: pointer;
}
